{% extends 'base.html.twig' %}

{% block title %}Créer un compte
{% endblock %}

{% block body %}
	<div class="user-container">
		<div class="user-content">
			<h1>Créer un compte</h1>
            {{ form_start(registrationForm, { 'attr' : { 'class': 'register-form' } }) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                <button class="submit-btn" type="submit">Créer un compte</button>
                <p class="alternative">Vous avez déjà un compte ? <a href="{{path('app_login')}}">Connexion</a></p>
            {{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
