{{ form_start(form, { 'attr' : { 'class': 'animal-form-container' } }) }}
    <div class="row">
        {{ form_row(form.nom) }}
        {{ form_row(form.type) }}
        {{ form_row(form.sexe) }}
    </div>
    <div class="row">
        {{ form_row(form.race) }}
        {{ form_row(form.age) }}
        {{ form_row(form.poids) }}
    </div>
    <div class="row-3">
        {{ form_row(form.numPuce) }}
        {{ form_row(form.sterilisation) }}
    </div>
    {{ form_row(form.infoSup) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}